# Ignorar carpetas de caché de Python
__pycache__/
*/__pycache__/
**/__pycache__/

# Ignorar archivos compilados de Python
*.pyc
*.pyo
*.pyd

# Caché de pytest
.pytest_cache/

# Reportes de cobertura
.coverage
htmlcov/
