<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="app:app" />
    <add key="WEBSITES_PORT" value="8000" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Python38\python.exe"
                  arguments="C:\Python38\Scripts\gunicorn.exe --bind 0.0.0.0:%WEBSITES_PORT% %WSGI_HANDLER%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\httpPlatform.log"
                  startupTimeLimit="60"
                  requestsBufferLimit="500"
                  requestTimeout="00:05:00">
      <environmentVariables>
        <environmentVariable name="PATH" value="%PATH%;C:\Python38\Scripts" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>